<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    </head>

    <body class="todoBody">
        <div class="container">

        <% let id = ID; %>
        <div class="User-Name">
    <div class="UName">
        <h1>  <%=name %>'s todo</h1>
     
    </div>
    <div class="Ulink">
        <form id="foo" method="get" action="/history/<%= ID%>">
            <input type="hidden" />
            <input type="submit" value="history" class="todoLink" />
        </form>

    </div>
        
        
    </div>

        <div id="todo-table">
            
           
            <script>
                
                localStorage.setItem('id', '<%= ID %>');
                console.log(typeof '<%= ID %>'); // output: string

              </script>

            
            
            <form action="/add/todo/<%= ID %>" method="POST">
                <input class="todoInput" type="text" name="item" placeholder="Add new item.." required />
                <button class="todoButton" type="Submit">Add Item</button>

            </form>
           
            <ul>
                <% todo.forEach(todo => { %>
                    <div class="line">
                    <li><%=todo[0].item %> </li>
                    <li><%=todo[1] %> </li>
                    <form class="delete" action="/delete/todo/<%= ID %>/<%= todo[0].item %>" method="GET">
                        <button class="delremButton" type="submit">Delete</button>
                    </form>

                    <form action="/mail/todo/<%= ID %>/<%=todo[0].item%>" method="POST" class="reminder-form">
                        <button class="delremButton" type="submit">Reminder</button>
                        <input type="datetime-local" id="reminder" name="reminder">
                    </form>
                 
                    </div>

              <%  });%>
              
              </ul>
            

        </div>
    </div>
       
    </body>

</html>
