<html>
    <head>
        <title>Todo List</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

        
        
       
        
    </head>

    <body>

        <% let id = ID; %>
           
        <h1>  <%=name %>'s todo</h1>
     
        <form id="foo" method="get" action="/history/<%= ID%>">
            <input type="hidden" />
            <input type="submit" value="history" class="link" />
        </form>
        <div id="todo-table">
            
           
            <script>
                
                localStorage.setItem('id', '<%= ID %>');
                console.log(typeof '<%= ID %>'); // output: string

              </script>

            
            
            <form action="/add/todo/<%= ID %>" method="POST">
                <input type="text" name="item" placeholder="Add new item.." required />
                <button type="Submit">Add Item</button>

            </form>
           
            <ul>
                <% todo.forEach(todo => { %>
                    <div class="line">
                    <li><%=todo[0].item %> </li>
                    <li><%=todo[1] %> </li>
                    <form action="/delete/todo/<%= ID %>/<%= todo[0].item %>" method="GET">
                        <button type="submit">Delete</button>
                    </form>
                    <form action="/mail/todo/<%= ID %>/<%=todo[0].item%>" method="POST">
                        <button type="submit">Set Reminder</button>
                        <input type="datetime-local" id="reminder" name="reminder" placeholder="4/29/2023 12:00:00 PM">
                    </form>
                 
                    </div>

              <%  });%>
              
              </ul>
            

        </div>
       
    </body>

</html>
